<div class="main-wrapper">
    <app-dashboard-header></app-dashboard-header>
    <app-sidebar></app-sidebar>
    <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">Create Invoice</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form [formGroup]="invoiceForm">
                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                  <label>Patient <span class="text-danger">*</span></label>
                                  <select class="select form-control">
                                    <option>Please Select</option>
                                    <option *ngFor="let patient of patients">{{ patient.firstName + " " + patient.lastName }}</option>
                                  </select>
                                </div>
                              </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Invoice date <span class="text-danger">*</span></label>
                                    <div >
                                        <input class="form-control" type="date">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Due Date <span class="text-danger">*</span></label>
                                    <div >
                                        <input class="form-control" type="date">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-hover table-white">
                                        <thead>
                                            <tr>
                                                <th style="width: 20px">#</th>
                                                <th class="col-sm-9">Item</th>
                                                <th>Amount</th>
                                                <th> </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="table-responsive">
                                        <table class="table table-hover table-white col-md-12 col-sm-12">
                                            <tbody formArrayName="items" *ngIf="invoiceForm">
                                                    <tr class="col-md-12 col-sm-12" *ngFor="let group of itemsFormArray.controls; let i = index" [formGroupName]="i">
                                                        <td style="width: 20px">{{ i + 1 }}</td>
                                                        <td class="col-sm-9">
                                                            <select class="form-control" formControlName="item" (change)="onTreatmentSelected($event, i)">
                                                                <option *ngFor="let treatment of treatments" [value]="treatment.id">{{ treatment.id}}</option>
                                                            </select>
                                                        </td>                                                    
                                                        <td><input class="form-control" type="text" formControlName="unitCost" readonly></td>
                                                        <td><a href="javascript:void(0)" class="text-success font-18" title="Add" (click)="addRow()"><i class="fa fa-plus"></i></a></td>
                                                        <td><a href="javascript:void(0)" class="text-danger font-18" title="Remove" (click)="removeRow(i)"><i class="fa fa-trash-o"></i></a></td>
                                                    </tr>
                                                </tbody>
                                                
                                                
                                            </table>                                        
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-hover table-white">
                                        <tbody>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            <tr>
                                                <td colspan="5" style="text-align: right; font-weight: bold">
                                                    Grand Total
                                                </td>
                                                <td style="text-align: right; padding-right: 30px; font-weight: bold; font-size: 16px;width: 230px">
                                                    $ 0.00
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Other Information</label>
                                            <textarea class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center m-t-20">
                            <button class="btn btn-primary submit-btn m-r-10">Save & Send</button>
                            <button class="btn btn-primary submit-btn">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <app-messages-sidebar></app-messages-sidebar>
</div>