<div class="main-wrapper">
    <app-dashboard-header></app-dashboard-header>
    <app-patient-sidebar></app-patient-sidebar>
    <div class="page-wrapper">
      <div class="content">
        <div class="row">
          <div class="col-sm-4 col-3">
            <h4 class="page-title">Doctors</h4>
          </div>
          <div class="col-sm-8 col-9 text-right m-b-20">
            <!-- <a routerLink="/add-doctor" class="btn btn-primary btn-rounded float-right">
              <i class="fa fa-plus"></i> Add Doctor
            </a> -->
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search doctor by name" [(ngModel)]="searchTerm" (ngModelChange)="filterDoctors()">
            </div>
          </div>          
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-border table-striped custom-table datatable mb-0">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Address</th>
                    <th>Education</th>
                    <th>Email</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let doctor of filteredDoctors" (click)="navigateToDoctor(doctor.id)">
                    <td>
                      <img width="28" height="28" src="assets/img/user.jpg" class="rounded-circle m-r-5" alt="">
                      {{ doctor.firstName + " " + doctor.lastName }}
                    </td>
                    <td>{{ calculateAge(doctor.birthDate) }}</td>
                    <td>{{ doctor.adress }}</td>
                    <td>{{ doctor.education }}</td>
                    <td>{{ doctor.email }}</td>
                  
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-messages-sidebar></app-messages-sidebar>
    <div id="delete_patient" class="modal fade delete-modal" role="dialog">
      <!-- Modal content for delete confirmation -->
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
  </div>
  
