<div class="main-wrapper">
    <app-dashboard-header></app-dashboard-header>
    <app-sidebar></app-sidebar>
    <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">Edit Profile</h4>
                </div>
            </div>
            <form>
                <div class="card-box">
                    <h3 class="card-title">Basic Informations</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="profile-img-wrap">
                                <img class="inline-block" src="assets/img/user.jpg" alt="user">
                                <div class="fileupload btn">
                                    <span class="btn-text">edit</span>
                                    <input class="upload" type="file">
                                </div>
                            </div>
                            <div class="profile-basic">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-focus">
                                            <label for="firstName">First Name</label>
                                            <input id="firstName" type="text" class="form-control floating centered-input" name="firstName" [value]="profileData.firstName">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-focus">
                                            <label for="lastName">Last Name</label>
                                            <input id="lastName" type="text" class="form-control floating centered-input" name="lastName" [value]="profileData.lastName">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-focus">
                                            <label for="birthDate">Birth Date</label>
                                            <input id="birthDate" class="form-control floating centered-input" type="datetime-local" name="birthDate" [value]="profileData.birthDate">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-focus select-focus">
                                            <label for="gender">Gender</label>
                                            <select id="gender" class="select form-control floating centered-input" name="gender">
                                                <option value="0" [selected]="profileData.gender === 1">Female</option>
                                                <option value="1" [selected]="profileData.gender === 0">Male</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-focus">
                                            <label for="jmbg">JMBG</label>
                                            <input id="jmbg" type="text" class="form-control floating centered-input" name="jmbg" [value]="profileData.jmbg">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-focus">
                                            <label for="email">Email</label>
                                            <input id="email" type="email" class="form-control floating centered-input" name="email" [value]="profileData.email">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- More card-box sections can be added here -->
                <div class="text-center m-t-20">
                    <button class="btn btn-primary submit-btn" type="button" (click)="saveProfile()">Save</button>
                </div>
            </form>
        </div>

<!-- CHANGE PASSWORD -->

        <div class="card-box">
            <h3 class="card-title">Change Password</h3>
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-focus">
                            <label for="oldPassword">Old Password</label>
                            <input id="oldPassword" type="password" class="form-control floating centered-input" name="oldPassword" required [(ngModel)]="oldPassword">
                        </div>
                    </div>
                
                    <div class="col-md-6">
                        <div class="form-group form-focus">
                            <label for="newPassword">New Password</label>
                            <input id="newPassword" type="password" class="form-control floating centered-input" name="newPassword" required [(ngModel)]="newPassword">
                        </div>
                    </div>
                </div>
                <div class="text-center m-t-20">
                    <button class="btn btn-primary submit-btn" type="button" (click)="changePassword()">Change Password</button>
                </div>
            </form>
        </div>
<!-- EXPERIENCE -->

        <div class="col-md-12">
            <div class="card-box">
                <h3 class="card-title">Add Experience</h3>
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                <label for="expTitle">Title</label>
                                <input id="expTitle" type="text" class="form-control" name="expTitle" [(ngModel)]="newExperience.title" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                <label for="workPlace">Work Place</label>
                                <input id="workPlace" type="text" class="form-control" name="workPlace" [(ngModel)]="newExperience.workPlace" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                <label for="expFrom">From</label>
                                <input id="expFrom" type="date" class="form-control" name="expFrom" [(ngModel)]="newExperience.from" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                <label for="expTo">To</label>
                                <input id="expTo" type="date" class="form-control" name="expTo" [(ngModel)]="newExperience.to" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-focus">
                                <label for="expLocation">Location ID</label>
                                <input id="expLocation" type="text" class="form-control" name="expLocation" [(ngModel)]="newExperience.locationId" required>
                            </div>
                        </div>
                    </div>
                    <div class="text-center m-t-20">
                        <button class="btn btn-primary submit-btn" type="button" (click)="addExperience()">Add Experience</button>
                    </div>
                </form>
            </div>
        </div>
<!-- EDUCATION -->
        <div class="col-md-12">
            <div class="card-box">
                <h3 class="card-title">Add Education</h3>
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                <label for="eduTitle">Title</label>
                                <input id="eduTitle" type="text" class="form-control" name="eduTitle" [(ngModel)]="newEducation.title" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                <label for="eduPlace">School</label>
                                <input id="eduPlace" type="text" class="form-control" name="eduPlace" [(ngModel)]="newEducation.school" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                <label for="eduFrom">From</label>
                                <input id="eduFrom" type="date" class="form-control" name="eduFrom" [(ngModel)]="newEducation.from" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                <label for="eduTo">To</label>
                                <input id="eduTo" type="date" class="form-control" name="eduTo" [(ngModel)]="newEducation.to" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-focus">
                                <label for="expLocation">Location ID</label>
                                <input id="expLocation" type="text" class="form-control" name="expLocation" [(ngModel)]="newEducation.locationId" required>
                            </div>
                        </div>
                    </div>
                    <div class="text-center m-t-20">
                        <button class="btn btn-primary submit-btn" type="button" (click)="addEducation()">Add Education</button>
                    </div>
                </form>
            </div>
        </div>
<!-- TEST -->
        <input type="text" list="browsers" />
        <datalist id="browsers">
            <option value="Internet Explorer">
            <option value="Firefox">
            <option value="Chrome">
            <option value="Opera">
            <option value="Safari">
        </datalist> 
    </div>
    <app-messages-sidebar></app-messages-sidebar>
</div>
